<div class="card">
  <div
    class="
      flex flex-wrap
      card-container
      blue-container
      font-bold
      text-black text-xl text-center
      bg-blue-50
    "
    style="width: 690px"
  >
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 1000px; height: 130px"
    >
      <div class="col m-2 justify-content-center">
        <h1>BINGO</h1>
      </div>
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      <div class="text-center">{{ optionArray[0] }}</div>
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[1] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[2] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[3] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[4] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[5] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[6] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[7] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[8] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[9] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[10] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[11] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      FREE SHIT
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[12] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[13] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[14] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[15] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[16] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[17] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[18] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[19] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[20] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[21] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[22] }}
    </div>
    <div
      class="
        flex
        align-items-center
        justify-content-center
        m-1
        border-round border-3
      "
      style="width: 130px; height: 130px"
    >
      {{ optionArray[23] }}
    </div>
    <div class="border-round border-3 m-1" style="width: 690px; height: 130px">
      <div class="col m-2 justify-content-center">
        <h1># {{ cardNumber }}</h1>
      </div>
    </div>
  </div>
  <div class="border-round border-3 m-1" style="width: 690px; height: 130px">
    <div class="col m-2 justify-content-center">
      <textarea pInputTextarea [(ngModel)]="optionInput"></textarea>
      <button
        pButton
        type="button"
        class="p-button-info"
        label="Set Options"
      ></button>
      <button
        pButton
        type="button"
        label="Next Card"
        (click)="updateCard()"
      ></button>
    </div>
  </div>
</div>
